<nav class="ui menu" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
    <header class="ui header item"><a href="/"><img id="menuImage" class="ui image" src="/public/images/menu.png"></a>
    </header>
    <div class="right menu">
        <a id="member" class="item" href="/member"><img id="menuItem" class="ui image"
                                                        src="/public/images/MemberText.png"></a>
        <a id="dashboard" class="item" href="/dashboard"><img id="menuItem" class="ui image"
                                                              src="/public/images/DashboardText.png"></a>
        <a id="about" class="item" href="/about"><img id="menuItem" class="ui image" src="/public/images/AboutText.png"></a>
        <a id="logout" class="item" href="/logout"><img id="menuItem" class="ui image"
                                                        src="/public/images/LogoutText.png"></a>
    </div>
</nav>

<script>
  $("#${_id}").addClass("active item");

</script>