#{extends 'main.html' /}
#{set title:'Weather Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    ${station.name}
  </h2>
  #{dashboardSummary station:station /}
  <a href="/stations/${station.id}">
    <i class="blue inverted circular folder open outline icon"></i>
  </a>
  <a href="/dashboard/deletestation/${station.id}">
    <i class="red inverted circular trash alternate outline icon"></i>
  </a>
</section>
#{/list}
#{addstation /}