#{extends 'main.html' /}
#{set title:'Member Details' /}

#{menu id:"member"/}

<div class="ui red basic label"><i class="exclamation circle icon"></i>No Member details can be left blank - Please try again</div>
<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
    <h2 class="ui header">
        Membership of ${member.firstname} ${member.lastname}
    </h2>
    <div class="ui segment" style="border: 3px solid #043F8C;">
        <div class="ui four cards">
            <div class="card" id="cardStyle"><h3>First Name</h3>
                <p>${member.firstname}</p>
            </div>
            <div class="card" id="cardStyle"><h3>Last Name</h3>
                <p>${member.lastname}</p>
            </div>
            <div class="card" id="cardStyle"><h3>Email Address</h3>
                <p>${member.email}</p>
            </div>
            <div class="card" id="cardStyle"><h3>Password</h3>
                <p>${member.password}</p>
            </div>
        </div>
    </div>
</section>
<form class="ui stacked segment form" action="/member/${member.id}/updatedetails" method="POST" style="color: white; background-color: #C9E5F0; border: 3px solid white;">
    <div class="field">
        <label>Change First Name</label>
        <input placeholder="New First Name" type="text" name="firstname">
        <label>Change Last Name</label>
        <input placeholder="New Last Name" type="text" name="lastname">
        <label>Change Password</label>
        <input placeholder="New Password" type="text" name="password">
    </div>
    <button id="submitButton" class="small ui blue submit animated button">
        <div class="visible content">Update Details</div>
        <div class="hidden content">Are you sure?</div>
    </button>
</form>